body{
    font-family: Arial, sans-serif;
    background-image: url(blur.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

background-position: center;
background-repeat: no-repeat;
margin:0;
padding:0;
display:flex;
align-items: center;
justify-content: center;
height:100vh;




}
.frontpg{
    text-align: center;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    padding: 20px;

}
h1{
    font-size: 36px;
}

p{
    font-size: 18px;
}
.button{

    padding: 10px 20px;
    background-color: #8400ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    
}
.button {
  --c: #5500ff;
  --b: .1em;
  --d: 20px;    
  
  --_s: calc(var(--d) + var(--b));
  color: var(--c);
  border: solid #0000;
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background:
    conic-gradient(at left var(--d)  bottom var(--d),
      #3f869b00 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
    conic-gradient(at left var(--_s) bottom var(--_s),
      #ff00ae00 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
  transform: translate(calc(var(--d)/-1),var(--d));
  clip-path: 
    polygon(
     var(--d) 0%, 
     var(--d) 0%, 
     100% 0%, 
     100% calc(100% - var(--d)),
     100% calc(100% - var(--d)),
     var(--d) calc(100% - var(--d))
    );
  transition: 0.3s;
}
.button:hover {
  transform: translate(0,0);
  clip-path: 
    polygon(
     0% var(--d), 
     var(--d) 0%, 
     100% 0%, 
     100% calc(100% - var(--d)), 
     calc(100% - var(--d)) 100%, 
     0% 100%
   );
}
